* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
  background-color: #1d417f;
}

.header ul {
  float: right;
}
.header li {
  float: center;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}
.header td {
  width: 65%;
  margin: auto;
}

.footer {
  background-color: #808080;
}

.footer li {
    float: center;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px;
    width: 23%;
    text-decoration: none;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: left;
    padding: 15px;
}

.passage {
  background-color: #afe0d6;
  text-align: left;
  margin: 5px;
  padding: 15px;
}

.sidemenu {
  width: 25%;
  margin: auto;
  padding: 15px;
}
.content {
  width: 75%;
  margin: auto;
  padding: 15px;
}

.sidemenu ul {
  list-style-type: none;
  background-color: #fefca2;
  margin: 0px;
  padding: 15px 15px 550px 100px;
}

.sidemenu li {
  margin-bottom: 4px;
  display: block;
  padding: 8px;
  text-decoration: none;
}

img {
  padding: 8px;
}